{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Data buku <a href="{% url 'tambah_buku' %}" class="btn btn-primary">Tambah</a> <a href="{% url 'keluar' %}"
            class="btn btn-warning">Logout</a></h2>
    <div class="row">
        <div class="col md 12">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>JUDUL</th>
                        <th>PENULIS</th>
                        <th>PENERBIT</th>
                        <th>JUMLAH</th>
                        <th>KELOMPOK</th>
                        <th>
                            <center>ACTION</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for buku in books %}
                    <tr>
                        <td><a href="{% url 'ubah_buku' buku.id %}">{{ buku.judul }}</a></td>

                        <td>{{ buku.penulis }}</td>
                        <td>{{ buku.penerbit }}</td>
                        <td>{{ buku.jumlah }}</td>
                        <td>{{ buku.kelompok_id }}</td>
                        <td>
                            <!-- <center><a href="{% url 'hapus_buku' buku.id %}" class="btn btn-danger">Hapus</a></center> -->
                            <center>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#hapus-{{ buku.id }}">
                                    Hapus
                                </button>
                            </center>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="hapus-{{ buku.id }}" tabindex="-1"
                            aria-labelledby="hapus-{{ buku.id }}-label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hapus-{{ buku.id }}-label">Peringatan!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah anda yakin ingin menghapus buku <strong>{{ buku.judul | upper}}</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'hapus_buku' buku.id %}" class="btn btn-danger">Hapus</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Tidak</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}